.title2 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.child { 
    float: left; 
    width: 50%;
    margin-bottom: 20px; 
    font-family: 'Libre Baskerville', serif;
    
} 
.form { 
    
    margin-right: 10px; 
    margin-bottom: 10%; 
    font-family: 'Libre Baskerville', serif;
    
} 


.group {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
    
}

.descript2{
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

