.news-grid {
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .news-item {
    border: 3px solid #b1d8b7;
    padding: 10px;
    text-align: left;
  }
  
  .news-item img {
    width: 100%;
    height: auto;
  }
  
  h1{
    font-family: 'Libre Baskerville', serif;
  }

  .res {
    font-family: 'Libre Baskerville', serif;
    font-size: 70%;
  }